
config.ini
mongo-queries.ipynb
CLARITY_Export_Kreuz_Mister_2019-10-26_103301.csv
NightScout -MongoDB - Upload.ipynb
venv/*
.idea/*
__pycache__/*
.ipynb_checkpoints/*
*.kml
Google KML.ipynb
Prototyping.ipynb
